

*{
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
}
::-webkit-scrollbar{
    background-image: linear-gradient(135deg,#365e78,#223b60,#3e6877);
    width: .8rem;
   
}
::-webkit-scrollbar-thumb{
    background-color: #fffcfc;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #2a2d67;
}

html{
    scroll-behavior: smooth;
    width: auto;
}
body{
  transition:  1s ease;
  background-image: linear-gradient(160deg,#b3d4ff, #ffffff ,  #94c8fd);
}



/*PANTALLA DE CARGA */





    .vertical-centered-box {
      position: fixed;
      width: 100%;
      height: 100%;
      text-align: center;
      background-image: linear-gradient(135deg,#44bef7,#61a6ff,#68aaff);
      transition: 7s;
      z-index: 11;
      }

      .vertical-centered-box:after {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em;
      }
      .contentinicio {
        box-sizing: border-box;
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        font-size: 0;
        background: mix(#3f3251, #002025, 70%);
      }
      .contentinicio img {
        width: 100px;
        height: 90px;
      }
    
  
  
  
    
  
  
  
  
  
  
  
  
  .loader-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgba(255,255,255,.1);
    margin-left: -60px;
    margin-top: -60px;
    transition: 3s;
    animation:(fade 1.2s infinite ease-in-out);
  }
  
  .loader-line-mask {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 120px;
    margin-left: -60px;
    margin-top: -60px;
    overflow: hidden;
    transform-origin: 60px 60px;
    
    animation: rotate 1.2s infinite linear;
    .loader-line {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      box-shadow: inset 0 0 0 1px rgba(255,255,255,.5);
    }
  }
  
  #particles-background, #particles-foreground {
    left: -51%;
    top: -51%;
    width: 202%;
    height: 202%;
    transform: scale3d(.5, .5, 1);
  }
  
  #particles-background {
    background: mix(#3f3251, #002025, 70%);
    background-image: -moz-linear-gradient(45deg, #3f3251 2%, #002025 100%);
    background-image: -webkit-linear-gradient(45deg, #3f3251 2%, #002025 100%);
    background-image: linear-gradient(45deg, #3f3251 2%, #002025 100%);
  }
  
  @keyframes rotate { 0% { transform: rotate(0deg);} 100% { transform: rotate(360deg);}}
  
  @keyframes fade { 0% { opacity: 1;} 50% { opacity: 0.25;}}
  
  @keyframes fade-in { 0% { opacity: 0;} 100% { opacity: 1;}}
  
  
/*FIN PANTALLA DE CARGA*/


@font-face {
  font-family: "popins";
  src: url("../fuentes/Poppins-Black.ttf");
}
@font-face {
  font-family: "playstore";
  src: url(../fuentes/Product\ Sans\ Bold.ttf);
}
@font-face {
  font-family: "playstore1";
  src: url(../fuentes/Product\ Sans\ Regular.ttf);
}

@font-face {
  font-family: "popinslight";
  src: url("../fuentes/Poppins-Light.ttf");
}
@font-face {
  font-family: "dog";
  src: url("../fuentes/GOODDC__.TTF");
}
@font-face {
  font-family: "roboto";
  src: url("../fuentes/Roboto-Regular.ttf");
}
@font-face {
font-family: "bebas";
src: url(../fuentes/Bebas-Regular.ttf);
}

.hanken-grotesk {
font-family: "Hanken Grotesk", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
}
 





    /* PRIMERA PARTE DE LA PAGINA  */
    /*#region primera




    /*grillas*/ 
.parent {
    
  background-image: linear-gradient(0deg,#89d0ffe2,#6ba6ce,#0367aa);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
  
    }
    
    
       

    





    

    

    a{
        text-decoration: none;
        color: #fff;
        
    }

    




    /*header*/
   /*header*/
   header{
    width: 100%;
    height: 9vh;
    background-color: #202020;
    padding: 10px 0px;
    display:flex;
    position: fixed;
    transition: 0.6s;
    z-index: 10;
}

header.sticky{
    height: 7vh;
}

header.sticky .logo img {
    width: 230px;
}
header.sticky .navegacion a {
  font-size: 20px;
}
.logo{
    height: 100%;
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.6s;
    margin: 5px 0px;
}
.logo img{
    width: 260px;
    max-width: 100%;
    padding: 0 50px;
    transition: 0.6s;
    
}

.contenedor_nav{
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0px 0px;
    margin: 0 80px;
}
.navegacion{
    
    transition: 0.6s;
   
    
}
.navegacion a{
    color: #737373;
    text-decoration: none;
    font-size: 22px;
    display: inline-block;
    padding: 0 30px;
    font-family: "Hanken Grotesk";
    transition: 0.6s;
    
    
}

.nav1.active{
    color: #ffff;
}

.nav2.active{
    color: #ffff;
}

.nav3.active{
    color: #ffff;
}

.nav4.active{
    color: #ffff;
}
.navegacion .nav5 {
  color: #fff;
}

.navegacion .nav1::after{
    content: "";
    display: none;
    background-color: #ffff;
    height: 2px;
    width: 100%;
    left: 0;
    top: -10px;
}

.navegacion .nav2::after{
    content: "";
    display: none;
    background-color: #ffff;
    height: 2px;
    width: 100%;
    left: 0;
    top: -10px;
}

.navegacion .nav3::after{
    content: "";
    display: none;
    background-color: #ffff;
    height: 2px;
    width: 100%;
    left: 0;
    top: -10px;
}

.navegacion .nav4::after{
    content: "";
    display: none;
    background-color: #ffff;
    height: 2px;
    width: 100%;
    left: 0;
    top: -10px;
    
}

.nav1.active::after{
    display: block;
    
}


.nav2.active::after{
    display: block;
}


.nav3.active::after{
    display: block;
}


.nav4.active::after{
    display: block;
}

header .toggle_btn {
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  display: none;
  width: 10%;
  padding: 10px 20px;
  
}

    
    

   /* BOTON ARRIBA  */

   .go-top-container{
    position: fixed;
  display: flex;
    width: 6.6rem;
    height: 6.6rem;
    z-index: -1;
 }
 

 .go-top-button{
    width:0rem ;
    height: 0rem;
    backdrop-filter: blur(16px);
      -webkit-backdrop-filter: blur(10px);
      background-color: hsla(228, 24%, 6%, .2);
    cursor: pointer;
    position: absolute;
    top: 90%;
    left: 90%;
    transform: translate(-10%,-0%);
    z-index: -1;
 }

 .go-top-button i{
    position: absolute;
    font-size: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    color: #FFF;
    transition: .2s;

 }
 .show{
    z-index: 10;
 }

  .show .go-top-button{
  animation: popup .3s ease-in-out;
  width: 4.6rem;
  height: 4.6rem;
  z-index: 11;
  
  }

  .show i{
    transform: translate(-50%,-50%) scale(1);
  }
  @keyframes popup{
    0% {
        width: 0rem;
        height: 0rem;
    }
    50%{
        width: 8rem;
        height: 8rem;
    }
    100%{
        width: 6.6rem;
        height: 6.6rem;
    }
  }
   /* FIN BOTON ARRIBA*/



     

    
   

        
    
    
    
       
        
           
        
    
    


   
    

   
   
/* DROPDOWN MENU*/
.hidden-content {
  display: none;
  visibility: hidden;
  opacity: 0;
 
  height: 0;
  
}
.no-scroll {
  overflow: hidden;
}

.dropdown_menu{
  display: none;
  position: absolute;
  height: 0;
  width: 100%;
  background-image: linear-gradient(135deg,#243684e2,#285496,#113181);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: opacity 0.5 ease;
  z-index: 0;
  flex-direction: column;
  
}
.dropdown_menu h2{
  color: #FFF;
  font-size: 30px;
  transition: 0.6s;
  margin: 30px 0px;
}
.dropdown_menu h3{
  font-weight: 500;
  margin:20px 0px;
}

.contenedor_redes{
margin-top: 10px;
}
.contenedor_redes a{
padding: 20px ;
transition: 0.6s;

}

.dropdown_menu .redess i{
 font-size: 50px;
 transition: .2s;
}

.dropdown_menu .redess i:hover{
  transform: translateY(3px) scale(1.25);
  color: #8b93bf;
   
}




.dropdown_menu .redess2 i{
  font-size: 50px;
  transition: .2s;
  
  
}
.dropdown_menu .redess2 i:hover{
  transform: translateY(3px) scale(1.25);
  color: #8b93bf;
   
}

.dropdown_menu .redess3 i {
  margin: 0 auto;
  font-size: 50px;
  transition: 0.2s;
  
} 
.dropdown_menu .redess3 i:hover{
  transform: translateY(3px) scale(1.25);
  color: #8b93bf;
   
}








.dropdown_menu.open{
  height: 100%;
  z-index: 2;
  transition: 0.6s;
  z-index: 3;
  
}

.logo.open{
display: none;
}

.dropdown_menu h3{
color: #ffffff;
padding: 10px 0px;

}
.dropdown_menu li {

  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
 
  
}

.contenedor_drop{
display: none;
display: flex;
flex-direction:column ;
justify-content: center;
align-items: center;

}
.contenedor_drop li{
padding: 30px 0;
}
.contenedor_drop li a {
color: #fff;
font-size: 22px;
}

.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}


.contenedor_total{
  display: flex;
  align-items: center;
  justify-content: center;
}



    .div2{
     text-align: center;
     color: #FFF;
     position: absolute;
     left: 52%;
            top: 25%;
            transform: translate(-50%,-50%)
     
     
    }
    .div2 h1{
        font-family: "popins";
        font-weight: 900;
        font-size: 80px;
        
    }
    .div3 {
       position:absolute;
       text-align: center;
       width: 900px;
       max-width: 100%;
       padding: 0 10px;
        
    }
    .div3 h3{
        color: #FFF;
        font-size: 50px;
    }

    .div4{
       display: flex;
       justify-content:center ;
       align-items: center;
       transition: 0.5s;
       
    }
    .div4 a{
      margin: 0 70px;
      margin-top: 50px;
    }

    
    

    .btn{
        position: relative;
        color: #FFF;
        text-decoration: none;
        font-weight: bold;
        letter-spacing: 2px;
        width: 300px;
        height: 80px;
        background-color: rgba(255, 255, 255, 0.35);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        padding-left: 40px;
        border: 0.5px solid rgba(255, 255, 255, 0.35);
        transition: 0.5s ;
        overflow: hidden;
    }
    .btn::after{
        content: "";
        position: absolute;
        height: 100%;
        width: 40%;
        background-color: rgba(255, 255, 255, 0.35);
        z-index: 1;
        transform: translateX(-170px) skew(30deg);
        transition: 0.75s ease-in-out;
    }
    .btn:hover::after{
        transform: translateX(170px) skew(30deg);
    }
    .btn:hover{
        padding-left: 0;
        padding-right: 40px;
        color: #fff;
    }

    .btn span{
        position: absolute;
        width: 50px;
        height: 50px;
        background-color: #096AAC;
        border-radius: 50%;
        left: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s ease-in-out;
    }
    .btn:hover span{
        left: calc(100% - 55px);
        background-color: #fff;
    }
    .btn span svg{
        height: 25px;
        width: 25px;
        fill: #fff;
    }
    .btn:hover svg{
        fill: #096AAC;
    }





    


    .btn2{
        position: relative;
        color: #FFF;
        text-decoration: none;
        font-weight: bold;
        letter-spacing: 2px;
        width: 300px;
        height: 80px;
        background-color: rgba(255, 255, 255, 0.35);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        padding-right: 40px;
        border: 0.5px solid rgba(255, 255, 255, 0.35);
        transition: 0.5s ;
        overflow: hidden;
    }
    .btn2::after{
        content: "";
        position: absolute;
        height: 100%;
        width: 40%;
        background-color: rgba(255, 255, 255, 0.35);
        z-index: 1;
        transform: translateX(170px) skew(30deg);
        transition: 0.75s ease-in-out;
    }
    .btn2:hover::after{
        transform: translateX(-150px) skew(30deg);
    }
    .btn2:hover{
        padding-right: 0;
        padding-left: 40px;
        color: #fff;
    }

    .btn2 span{
        position: absolute;
        width: 50px;
        height: 50px;
        background-color: #ffffff;
        border-radius: 50%;
        right: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s ease-in-out;
    }
    .btn2:hover span{
        right: calc(100% - 55px);
        background-color: #096AAC;
    }
    .btn2 span svg{
        height: 25px;
        width: 25px;
        fill: #096AAC;
    }
    .btn2:hover svg{
        fill: #fff;
    }

    /* animacion inicio */
    
    .content {
        position: absolute;
        top: 180px;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 160px;
        overflow:hidden;
        font-size: 30px;
        
        }
        .container  p{
          font-size: 30px;

        }
        
        .container {
          font-weight: 600;
          overflow: hidden;
          height: 40px;
          padding: 0 40px;

      
          .container:before {
            content: '[';
            left: 0;
          }
      
          .container:after {
            content: ']';
            position: absolute;
            right: 0;
          }
      
          .container:after, &:before {
            position: absolute;
            top: 0;
            
            color: #16a085;
            font-size: 42px;
            line-height: 40px;
            
            -webkit-animation-name: opacity;
            -webkit-animation-duration: 2s;
            -webkit-animation-iteration-count: infinite;
            animation-name: opacity;
            animation-duration: 2s;
            animation-iteration-count: infinite;
          }
      
          .text {
            display: inline;
            float: left;
            margin: 0;
          }
      
          .list {
            margin-top: 0;
            height: 180px;
            padding-left: 110px;
            text-align: left;
            list-style: none;
            color: #0fb7ff;
            font-weight: 900;
            
            -webkit-animation-name: change;
            -webkit-animation-duration: 10s;
            -webkit-animation-iteration-count: infinite;
            animation-name: change;
            animation-duration: 10s;
            animation-iteration-count: infinite;
      
            &__item {
              line-height:40px;
              margin:0;
            }
          }
        }
      
      
      @-webkit-keyframes opacity {
        0%, 100% {opacity:0;}
        50% {opacity:1;}
      }
      
      @-webkit-keyframes change {
        0%, 12.66%, 100% {transform:translate3d(0,0,0);}
        16.66%, 29.32% {transform:translate3d(0,-25%,0);}
        33.32%,45.98% {transform:translate3d(0,-50%,0);}
        49.98%,62.64% {transform:translate3d(0,-75%,0);}
        66.64%,79.3% {transform:translate3d(0,-50%,0);}
        83.3%,95.96% {transform:translate3d(0,-25%,0);}
      }
      
      @-o-keyframes opacity {
        0%, 100% {opacity:0;}
        50% {opacity:1;}
      }
      
      @-o-keyframes change {
        0%, 12.66%, 100% {transform:translate3d(0,0,0);}
        16.66%, 29.32% {transform:translate3d(0,-25%,0);}
        33.32%,45.98% {transform:translate3d(0,-50%,0);}
        49.98%,62.64% {transform:translate3d(0,-75%,0);}
        66.64%,79.3% {transform:translate3d(0,-50%,0);}
        83.3%,95.96% {transform:translate3d(0,-25%,0);}
      }
      
      @-moz-keyframes opacity {
        0%, 100% {opacity:0;}
        50% {opacity:1;}
      }
      
      @-moz-keyframes change {
        0%, 12.66%, 100% {transform:translate3d(0,0,0);}
        16.66%, 29.32% {transform:translate3d(0,-25%,0);}
        33.32%,45.98% {transform:translate3d(0,-50%,0);}
        49.98%,62.64% {transform:translate3d(0,-75%,0);}
        66.64%,79.3% {transform:translate3d(0,-50%,0);}
        83.3%,95.96% {transform:translate3d(0,-25%,0);}
      }
      
      @keyframes opacity {
        0%, 100% {opacity:0;}
        50% {opacity:1;}
      }
      
      @keyframes change {
        0%, 12.66%, 100% {transform:translate3d(0,0,0);}
        16.66%, 29.32% {transform:translate3d(0,-25%,0);}
        33.32%,45.98% {transform:translate3d(0,-50%,0);}
        49.98%,62.64% {transform:translate3d(0,-75%,0);}
        66.64%,79.3% {transform:translate3d(0,-50%,0);}
        83.3%,95.96% {transform:translate3d(0,-25%,0);}
      }
    
    
      
      @media (max-width:1450px) {
  

      }
         @media(max-width: 1150px) {
     
               header .navegacion a{
                 font-size: 18px;
               }
             }
     
             @media (max-width: 1090px){
              header .navegacion a{
                font-size: px;
     }
             }
      @media(max-width: 1040px){
     
       header .contenedor_nav,
       header .action_btn{
           display: none;
       }
       header .toggle_btn{
         display: block;
         display: flex;
         align-items: center;
         z-index: 10;
         position: relative;
         justify-content: flex-end;
          }
     
       .dropdown_menu{
           display: block;
           position: fixed;
           display: flex;
         align-items: center;
         justify-content: center;
           
          
       }
       
       .logo{
         width: 80%;
       }

       .div4{
        flex-direction: column;
       }
       .content{
        display: none;
       }
       .div3 h3{
        font-size: 35px;
       }
     
      }
     
     
           
            
             
         
             @media(max-width: 576px) {
         
                 .dropdown_menu {
                   
                     width: 100%;
                     z-index: 10;
                     
                     color: #ffffff;
                 }
                
                 .dropdown_menu li a{
                     color: #fffbfb;
                   
                     
                 }
                 .div1 .toggle_btn{
                     display: block;
                 }
                 
     
                
     
                 
                
             }
        
           
           /*1 seccion resposiva */
     
           @media(max-width: 1400px) {
             .logoa img {
                 width: 180px;
                   height: 120px;
             }
             
           }
            
     
     
           
           @media(max-width: 992px) {
            
               
           }
           @media(max-width:850px){
             
             
              
           }
           @media(max-width: 576px) {
             ::-webkit-scrollbar{
                 background-color: #383939;
                 width: .6rem;
             }
             ::-webkit-scrollbar-thumb{
                 background-color: #555252;
             }
             ::-webkit-scrollbar-thumb:hover{
                 background-color: #698184;
             }
             .logoa{
                 left: 0;
                 position: absolute;
                 left: 52%;
                 top: 7%;
                 transform: translate(-50%,-50%);
             }
             .logoa img{
                  position: relative;
                   width: 180px;
                   height: 120px;
                 
                
             }
     
             .l{
                 width: 170px ;
                 left: 20%;
     
             }
             .l2{
                 position: absolute;
                 width: 170px;
                 left: 83%;
                 display: block;
                 
             }
     
             
             
             .div2 h1{
             font-size: 50px;
             }
             
             
             .div3 h3{
             font-size: 20px;
             
             }
              
     
             
     
             
     
             
           }
      


      .spacerr{
        aspect-ratio: 960/200;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
       }
       .layer2{
        background-image: url("../svg/fondoparent.svg");
       }
        
      /* FIN PRIMERA PARTE DE LA PAGINA */

      




















































       /*SEGUNDA PARTE DE LA PAGINA*/
       .spacer{
        aspect-ratio: 960/200;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
       }
       .layer1{
        background-image: url("../svg/layered-waves-haikei.svg");
       }
          

       .caracteristicas{
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-image: linear-gradient(0deg,#b4d7fa, #ffffff ,  #89d0ffe2);
}
       
      


       .containertarjetas{
         display: flex;
         justify-content: center;
         align-items: center;
         flex-wrap: wrap;
        
        
      }


      .headingcara {
        font-size: 1.8rem;
        color: #2c2c2c;
        font-weight: 500;
        display: flex;
        align-items: center;
        margin: 20px;
        position: relative;
        
    }
    
    .headingcara::before{
        content: "";
        position: absolute;
        background-color: #ffb300;
        height: 4px;
        width: 90%;
        bottom: -5px;
        left: 90px;
      
        
        
       }
    
    .headingcara i{
        background-color: #ffb300;
        color: #ffffff;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.9rem;
        margin: 0 20px;
    }
      .caracteristicas h4{
        font-size: 18px;
        color: #000000;
        letter-spacing: 1px;
        font-weight: 400;
        margin-bottom: 10px;
        font-family: "roboto";
        position: relative;
    }

    
    
    .caracteristicas h4::before{
     content: "";
     position: absolute;
     background-color: #000000;
     height: 3px;
     width: 105%;
     left: -5px;
     bottom: -10px;
   
     
     
    }
    .caracteristicas h1{
      font-size: 50px;
      font-family: "popins";
      color: #000000;
    }
    .caracteristicas b{
      color: #ffae00;
    }
      
      
      .containertarjetas .card{
        position: relative;
      }
      
      .containertarjetas .card .face{
        width:300px;
        height: 200px;
        transition:.4s; 
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        border-radius: 10px;
        margin: 20px;
        position: relative;
        
      }
      
      .containertarjetas .card .face.face1{
        position: relative;
        background-image: linear-gradient(135deg,#0091ff,#abf1ff);
        display: flex;
        justify-content: center;
        align-content:center;
        align-items: center;
        z-index: 1;
        transform: translateY(100px);
      }
      
      .containertarjetas .card:hover .face.face1{
        transform: translateY(0);
        box-shadow:
          inset 0 0 60px whitesmoke,
          inset 20px 0 80px rgb(0, 140, 255),
          inset -20px 0 80px rgb(54, 95, 207),
          inset 20px 0 300px rgb(0, 131, 192),
          inset -20px 0 300px rgb(255, 255, 255),
          0 0 50px #fff,
          -10px 0 80px rgb(129, 236, 255),
          10px 0 80px rgb(0, 68, 255);
         
      }
      
      
      .containertarjetas .card .face.face1 .contenttarj{
       
        transition:  0.5s;
        text-align: center;
       
        
         
        
        
       
      
      }
      
      .containertarjetas .card:hover .face.face1 .contenttarj{
        opacity: 1;
       
      }
      
      .containertarjetas .card .face.face1 .contenttarj i{
        font-size: 3em;
        color: white;
        display: inline-block;
         
      }
      
      .containertarjetas .card .face.face1 .contenttarj h3{
        font-size: 1.2em;
        color: white;
        text-align: center;
        padding-top: 20px;
        font-family: "popinslight";
        
      
      }
      
      .containertarjetas .card .face.face1 .contenttarj a{
         transition: .5s;
      }
      
      .containertarjetas .card .face.face2{
         position: relative;
         background: whitesmoke;
         display: flex;
         align-items: center;
         justify-content: center;
         padding: 20px;
        box-sizing: border-box;
        box-shadow: 0 20px 50px rgb(0, 0, 0);
        transform: translateY(-100px);
      }
      
      .containertarjetas .card:hover .face.face2{
          transform: translateY(0);
      
      
      }
      
      .containertarjetas .card .face.face2 .contenttarj p, a{
        font-size: 10pt;
        margin: 0 ;
        padding: 0;
        color:#333;
      }
      
      .containertarjetas .card .face.face2 .contenttarj a{
        text-decoration:none;   
        color: black;
        box-sizing: border-box;
        outline : 1px dashed #333;
        padding: 10px;
        margin: 15px 0 0;
        display: inline-block;
      }
      
      .containertarjetas .card .face.face2 .contenttarj a:hover{
        background: #333 ;
        color: whitesmoke; 
        box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
      }

      @media(max-width: 1250px) {
      .headingcara strong{
        font-size: 2.4rem;
      }
      }
      @media(max-width: 980px) {
        .headingcara strong{
          font-size: 2rem;
        }
        }
        @media(max-width: 600px) {
          .headingcara strong{
            font-size: 1.5rem;
          }
          }


            /*FIN SEGUNDA PARTE DE LA PAGINA*/
            
      






















































            
      
           /*TERCERA PARTE DE LA PAGINA*/
  
     

        /* fondo*/
        
           


          .uneteanosotros {
            
            height: 100vh;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: linear-gradient(  0deg,#9cccec,#ffffff,#ffffff,#ffffff);
            background-size: cover;
            background-repeat: no-repeat;
            background-position:center ;
           
            
           }

           .uneteanosotros .mainns img {
            width: 600px;
            max-width: 100%;
            height: auto;
            z-index: 2;
            
            


           }

           .all-textt{
            width: 600px;
            max-width: 100%;
            padding: 0 10px;
            z-index: 2;
           }
           
           
           .mainns{
            width: 1290px;
            max-width: 95%;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
           }

           .all-textt h4{
               font-size: 18px;
               color: #000000;
               letter-spacing: 1px;
               font-weight: 400;
               margin-bottom: 10px;
               font-family: "roboto";
               position: relative;
           }
           .all-textt h1{
            font-size: 65px;
            color: #000000;
            font-weight: lighter;
            margin-bottom: 20px;
            font-family: "popins";
            
           }
           .all-textt b{
            color: #023769;
            font-family: "popins";
           }
           
           .all-textt h4::before{
            content: "";
            position: absolute;
            background-color: #000000;
            height: 3px;
            width: 25%;
            bottom: -10px;
          
            
            
           }
           

           .all-textt p {
            font-family: "roboto";
            font-size: 16px;
            color: #010101;
            line-height: 30px;
            margin-bottom: 35px;
           }

           .botoness{
            height: 250px;
            width: 250px;
            position: relative;
            top: 50px;
            left: 100px;
           }

           .botoness a{
           
            padding: 20px 32px;
            font-size: 16px;
            font-weight: bold;
            color: #111111;
            border: none;
            outline: none;
           
            margin-right: 20px;
           }


           .circles {
         
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
           display: none;
            overflow: hidden;
            padding-top: 3225px;
            z-index: -1;
          }
          
          .circles li {
            position: absolute;
            display: block;
            list-style: none;
            width: 20px;
            height: 20px;
            background-color: #0e29dd;
            background-image: linear-gradient(
              225deg,
              #0f1a91 0%,
              #1e8a9b 50%,
              #2b86c5 100%
            );
            animation: animate 25s linear infinite;
            bottom: -150px;
          }
          
          .circles li:nth-child(1) {
            left: 25%;
            width: 80px;
            height: 80px;
            animation-delay: 0s;
          }
          
          .circles li:nth-child(2) {
            left: 10%;
            width: 20px;
            height: 20px;
            animation-delay: 2s;
            animation-duration: 12s;
          }
          
          .circles li:nth-child(3) {
            left: 70%;
            width: 20px;
            height: 20px;
            animation-delay: 4s;
          }
          
          .circles li:nth-child(4) {
            left: 40%;
            width: 60px;
            height: 60px;
            animation-delay: 0s;
            animation-duration: 18s;
          }
          
          .circles li:nth-child(5) {
            left: 65%;
            width: 20px;
            height: 20px;
            animation-delay: 0s;
          }
          
          .circles li:nth-child(6) {
            left: 75%;
            width: 110px;
            height: 110px;
            animation-delay: 3s;
          }
          
          .circles li:nth-child(7) {
            left: 35%;
            width: 150px;
            height: 150px;
            animation-delay: 7s;
          }
          
          .circles li:nth-child(8) {
            left: 50%;
            width: 25px;
            height: 25px;
            animation-delay: 15s;
            animation-duration: 45s;
          }
          
          .circles li:nth-child(9) {
            left: 20%;
            width: 15px;
            height: 15px;
            animation-delay: 2s;
            animation-duration: 35s;
          }
          
          .circles li:nth-child(10) {
            left: 85%;
            width: 150px;
            height: 150px;
            animation-delay: 0s;
            animation-duration: 11s;
          }
          
          @keyframes animate {
            0% {
              transform: translateY(0) rotate(0deg);
              opacity: 1;
              border-radius: 0;
            }
          
            100% {
              transform: translateY(-1000px) rotate(720deg);
              opacity: 0;
              border-radius: 50%;
            }
          }

          
         

  
           @media screen and (max-width:1250px){
            .uneteanosotros{
                width: 100%;
                height: auto;
                padding: 60px 0;
            }
            .all-textt{
                text-align: center;
                margin-top: 40px;
            }
           }



           @media screen and (max-width:1250px){
            .uneteanosotros main img{
                margin-bottom: 35px;
              

            }
            .all-textt  h1{
                font-size:45px ;
                margin-bottom:20px ;

            }
           }
           @media(max-width:540px){
            .circles{
              margin-top: 2000px;
              
            }
            
           }


    /*FIN TERCERA PARTE DE LA PAGINA*/



































































          /*CUARTA PARTE DE LA PAGINA*/
                          
           .sobrenosotros {
            padding-left: 200px;
            background-image: linear-gradient(0deg,#badbf1e2,#87c0ec,#9cccec);
            height: 100vh;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #ffffff;
            background-size: cover;
            background-repeat: no-repeat;
            
           }

           .sobrenosotros .main img {
            width: 580px;
            max-width: 100%;
            height: auto;
            padding: 0 10;
            


           }

           .all-text{
            width: 600px;
            max-width: 100%;
            padding: 0 10px;
           }
           
           
           .main{
            width: 1290px;
            max-width: 95%;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
           }

           .all-text h4{
               font-size: 18px;
               color: #ffffff;
               letter-spacing: 1px;
               font-weight: 400;
               margin-bottom: 10px;
               font-family: "roboto";
               position: relative;
           }
           .all-text h1{
            font-size: 65px;
            color: #ffffff;
            font-weight: lighter;
            margin-bottom: 20px;
            font-family: "popins";
            
           }
           .all-text b{
            color: #2fe0ff;
            font-family: "popins";
           }
           
           .all-text h4::before{
            content: "";
            position: absolute;
            background-color: #ffffff;
            height: 3px;
            width: 25%;
            bottom: -10px;
          
            
            
           }
           

           .all-text p {
            font-family: "roboto";
            font-size: 16px;
            color: #ffffff;
            line-height: 30px;
            margin-bottom: 35px;
           }

           .botones a{
            background: white;
            padding: 20px 32px;
            font-size: 16px;
            font-weight: bold;
            color: #111111;
            border: none;
            outline: none;
            box-shadow: 0px 16px 32px 0px rgb(0 0 0 / 6%);
            margin-right: 20px;
           }

           .botones a:hover{
            background-color: #000000;
            color: #FFF;
            transition: .3s;
            cursor: pointer;
           }
           .botones .boton2{
            background-color: #111111;
            color: #FFF;
           }
           .botones .boton2:hover{
            background-color: #FFF;
            color: #111111;
           }


           @media screen and (max-width:1400px){
            .stack{
              display: none;
            }
            .main2{
              display: none;
            }
            .tarjetas {
              display: none;
            }
            
          }
           
  
           @media screen and (max-width:1250px){
            .sobrenosotros{
                width: 100%;
                height: auto;
                padding: 60px 0;
            }
            .all-text{
                text-align: center;
                margin-top: 40px;
            }
           }



           @media screen and (max-width:1250px){
            .sobrenosotros main img{
                margin-bottom: 35px;
            }
            .all-text h1{
                font-size:45px ;
                margin-bottom:20px ;

            }
           }


           @media screen and (max-width:400px){

            
           }

          /*FIN CUARTA PARTE DE LA PAGINA*/








































































              /*QUINTA PARTE DE LA PAGINA*/
           
            
            .containerfooter{
                max-width: 1170px;
                margin:auto;
            }
            .row{
                display: flex;
                flex-wrap: wrap;
            }
            ul{
                list-style: none;
            }
            .footer{
                background-color: #24262b;
                padding: 70px 0;
                
            }
            .footer-col{
               width: 25%;
               padding: 0 15px;
            }
            .footer-col h4{
                font-size: 18px;
                color: #ffffff;
                text-transform: capitalize;
                margin-bottom: 35px;
                font-weight: 500;
                position: relative;
            }
            .footer-col h4::before{
                content: '';
                position: absolute;
                left:0;
                bottom: -10px;
                background-color: #e91e63;
                height: 2px;
                box-sizing: border-box;
                width: 50px;
            }
            .footer-col ul li:not(:last-child){
                margin-bottom: 10px;
            }
            .footer-col ul li a{
                font-size: 16px;
                text-transform: capitalize;
                color: #ffffff;
                text-decoration: none;
                font-weight: 300;
                color: #bbbbbb;
                display: block;
                transition: all 0.3s ease;
            }
            .footer-col ul li a:hover{
                color: #ffffff;
                padding-left: 8px;
            }
            .footer-col .social-links a{
                display: inline-block;
                height: 40px;
                width: 40px;
                background-color: rgba(255,255,255,0.2);
                margin:0 10px 10px 0;
                text-align: center;
                line-height: 40px;
                border-radius: 50%;
                color: #ffffff;
                transition: all 0.5s ease;
            }
            .footer-col .social-links a:hover{
                color: #24262b;
                background-color: #ffffff;
            }
            
            /*responsive*/
            @media(max-width: 767px){
              .footer-col{
                width: 50%;
                margin-bottom: 30px;
            }
            }
            @media(max-width: 574px){
              .footer-col{
                width: 100%;
            }
            }
            /*FIN QUINTA PARTE DE LA PAGINA*/